
@font-face {
  font-family: 'Eras-Bold';
  src: url('Eras-Bold.eot?#iefix') format('embedded-opentype'),  url('Eras-Bold.woff') format('woff'), url('Eras-Bold.ttf')  format('truetype'), url('Eras-Bold.svg#Eras-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
