<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Líder</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/webfont/Eras-Bold/styles.css">

        <!-- Los iconos tipo Solid de Fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <link rel="stylesheet" href="css/map.css">
        <link rel="stylesheet" href="css/styleIniciaSesion.css">



    </head>
    <body>
        <div class="modal-dialog text-center">
      <div class="col-sm-8 main-section">
          <div class="modal-content">
              <div class="col-12 user-img">
                  <img src="img/icons/user-circle-solid.svg" th:src="@{/img/icons/user-circle-solid.png}"/>
              </div>
              <form class="col-12" th:action="@{/login}" method="get">
                  <div class="form-group" id="user-group">
                      <input type="text" class="form-control" placeholder="Nombre de Usuario" name="username"/>
                  </div>
                  <div class="form-group" id="contrasena-group">
                      <input type="password" class="form-control" placeholder="Contraseña" name="password"/>
                  </div>
                  <button type="submit" class="btn btn-primary"><i class="fas fa-unlock"></i>  Ingresar </button>
              </form>
              <div class="col-12 forgot">
                  <a href="#">Recordar contraseña</a>
              </div>
              <div th:if="${param.error}" class="alert alert-danger" role="alert">
                  Usuario o Contraseña Incorrecto.
              </div>
              <div th:if="${param.logout}" class="alert alert-success" role="alert">
                  Inicio Satisfactorio.
              </div>
          </div>
      </div>
  </div>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/fastclick.js"></script>

        <script type="text/javascript">
            window.addEventListener('load', function() {
                new FastClick(document.body);
            }, false);
        </script>

        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>


        </script>
    </body>
</html>
